.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 60px);
  padding-top: 60px;
}


.top-section {
  position: relative;
  width: 100%;
  height: 60%;
}

.top-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 30%;
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(21, 6, 63, 0.63);
  pointer-events: none;
}

.image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.image-text h1 {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 8px;
}

.image-text p {
  font-size: 16px;
  opacity: 0.9;
}


.bottom-section {
  display: flex;
  width: 90%;
  height: calc(100vh - 80px);
  margin: 20px auto 0px;
}


.jobs-section {
  width: 30%;
  border-right: 1px solid #ddd;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  overflow-y: auto;
}


.job-detail-section {
  flex: 1;
  /* background-color: #d83c3c; */
  padding: 16px;
  overflow-y: auto;
}
